.reg-log-button {
  height: 56px;
  color: #2c343a;
  font: {
    size: 16px;
    weight: 500;
    family: Lexend;
  }
}

.reg-log-button:hover {
  color: #3333ff;
}

.reg-log-button:active {
  color: #0000e0;
}
