@import '../../colors.scss';

.form-control {
  display: grid;

  input {
    padding: 12px 16px;
    border: 1px solid #cad2d6;
    font-size: 15px;
    color: #000000;
  }

  input::placeholder {
    color: $colorPlaceholder;
  }

  input:focus-visible {
    padding: 11px 15px;
    border: 2px solid #0101ff;
  }

  label {
    text-align: justify;
  }
}
