.form-control {
  display: flex;
  flex-flow: column;

  input {
    padding: 12px 16px;
    border: 1px solid #cad2d6;
    font-size: 15px;
    color: #000000;
  }

  input::placeholder {
    color: #909fa9;
  }

  input:focus-visible {
    padding: 11px 15px;
    border: 2px solid #0101ff;
  }

  label {
    text-align: justify;
  }
}

.show-password-checkbox {
  display: flex;
  gap: 16px;
  font: {
    weight: 500;
  }

  input {
    width: 20px;
    height: 20px;
  }
}

.sign-in-submit {
  height: 56px;
  background-color: #7101ff;
  color: #ffffff;
  font: {
    size: 16px;
    weight: 500;
  }
}

.sign-in-submit:hover {
  background-color: #3333ff;
}
