@import '../../../colors.scss';

.form-control {
  display: grid;

  input {
    padding: 12px 16px;
    outline: 1px solid #cad2d6;
    outline-offset: -1px;
    color: #000000;
    font: {
      size: 15px;
      family: Lexend;
    }
  }

  input:focus {
    outline-offset: -2px;
  }

  input::placeholder {
    color: $colorPlaceholder;
  }

  label {
    text-align: justify;
  }
}
