@import '../../../../colors.scss';

.form-control {
  display: grid;

  input {
    padding: 12px 16px;
    outline: 1px solid #cad2d6;
    font-size: 15px;
    color: #000000;
  }

  input::placeholder {
    color: $colorPlaceholder;
  }

  label {
    text-align: justify;
  }
}
