@import '../../../../colors.scss';

.aside {
  button {
    height: 100%;
    max-height: 52px;
    grid-auto-flow: column;
    justify-content: start;
    gap: 12px;
    padding-left: 32px;
    align-self: end;

    font: {
      family: Nunito;
      size: 14px;
      weight: 500;
    }
  }

  button:hover {
    background-color: rgba(255, 255, 255, 10%);
    box-shadow: inset 4px 0 0 0 rgba(255, 255, 255, 100%);
  }
}
