.authContainer header {
  display: grid;
  justify-items: center;
  gap: 44px;

  img {
    max-width: 80px;
  }

  h1 {
    font: {
      size: 20px;
      weight: 700;
    }
    color: #000000;
  }
}
