@import '../../fonts/fonts.scss';

.dashboard {
  grid-template-columns: minmax(auto, 260px) auto;
  grid-template-rows: 72px auto;
  grid-template-areas:
    'aside header'
    'aside main';

  font: {
    family: $dashboardMainFont;
    size: 14px;
    weight: 500;
  }
}
