form {
  display: grid;
  grid-gap: 32px;
}

.signInContainer {
  display: grid;
  height: 100vh;
}

.signInContent {
  display: grid;
  grid-gap: 32px;
  width: 376px;
  justify-self: center;
  align-self: center;
}
