@import 'fonts/fonts.scss';
@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: 0px;
  border-radius: 0px;

  font: {
    family: $mainFont;
    size: 14px;
    weight: 400;
  }

  color: $colorText;
  background: $colorBack;
}
