@import "fonts/fonts.scss";

html,
body,
h1,
input {
  margin: 0;
  padding: 0;
  border: none;

  font: {
    family: $mainFont;
    size: 14px;
    weight: 400;
  }

  color: #505e68;
  background: #ffffff;
}

input {
  outline: 0px;
  border-radius: 0px;
}
