@import 'fonts/fonts.scss';
@import './colors.scss';

html,
body,
h1,
input {
  margin: 0;
  padding: 0;
  border: none;

  font: {
    family: $mainFont;
    size: 14px;
    weight: 400;
  }

  color: $colorText;
  background: $colorBack;
}

input {
  outline: 0px;
  border-radius: 0px;
}
